/********** Site-wide **********/
*, *::before, *::after {
  box-sizing: border-box;
}

:root{
    --locations-color: #ADBBDA;
    --search-color: #8697C4;
    --forecast-color: #778090;
}


/********** Locations summary at top **********/
#locations-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid black;
    background-color: var(--locations-color);
}

#locations-title {
    text-align: center;
    width: 100%;
}

#locations-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    min-width: 200px;
    min-height: 200px;
    margin: 20px;
}


/********** Search container **********/
#search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    border-bottom: 2px solid black;
    background-color: var(--search-color);
}

.search-h1 {
    padding-bottom: 10px;
    margin: 0px;
}

.search-p {
    margin: 0px;
    padding: 0px;
}

#location-form {
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

#label-container, #input-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#label-container {
    padding-right: 5px;
}

#location-form > input[type="text"] {
    min-width: 100px;
    max-width: 100px;
}

#search-button-container {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/********** Forecasts container **********/
#forecasts {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.location-forecast-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.location-tables-container,
.location-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-title-container {
    width: 100%;
}

.forecast-table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}