{% extends 'base.html' %}
{% load static %}


<!-- Add the static files to the header block -->
{% block header_extension %}
<link rel="stylesheet" type="text/css" href='{% static "home_page/home_page.css" %}'>
<script type="text/javascript" src="{% static 'home_page/home_page.js' %}"></script>
{% endblock %}


<!-- Add the index's content to the main header block -->
{% block body_extension %}

<!--- Error message display-->
{% if error_message %}
    <h1>Error</h1>
    <h3>{{ error_message }}</h2>
{% endif %}

<!-- Display the chosen locations from the database -->
 <div id="locations-parent">
    <h1 id="locations-title">Locations</h1>
    {% if locations %}
    <div id="locations-container">
        {% for location in locations %}
            <div class="location glass-container">
                <p>{{ location.location }}</p>
                <!-- Display High and low for today -->
                <p>High: {{ location.days.0.high }}</p>
                <p>Low: {{ location.days.0.low }}</p>
                <!-- Delete button -->
                <form method="post" action="{% url 'home_page:delete_location' %}">
                    {% csrf_token %}
                    <input hidden id="city_name" name="city_name" value="{{ location.city }}">
                    <button type="submit">Delete</button>
                </form>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No locations yet selected</p>
    {% endif %}
 </div>

<!-- Form to add a new location -->
 <div id="search-container">
    <h1 class="search-h1">Find A New Location</h1>
    <p class="search-p">You can choose up to four locations at a time.</p>
    <p class="search-p">After four the oldest location will be deleted.</p>
    <form id="location-form" method="post" action="{% url 'home_page:search' %}">
        {% csrf_token %}
        <div id="form-container">
            <div id="label-container">
                <label for="city">City:</label>
                <label for="state">State:</label>
            </div>
            <div id="input-container">
                <input id="city" name="city" type="text" placeholder="City...">
                <input id="state" name="state" type="text" placeholder="State...">
            </div>
        </div>
        <div id="search-button-container">
            <button id="search-button" type="submit">Add</button>
        </div>
    </form>
</div>

<!-- Section where forecasts will be displayed -->
<div id="forecasts-container">
    <div id="forecasts-title">
        <h1>Forecasts</h1>
    </div>
    <!-- Individual location forecast -->
    {% for location in locations %}
    <div class="location-forecast-container">
        <div class="location-border-container">
            <div class="location-border"></div>
        </div>
        <div class="location-title-container">
            <h3>{{ location.location }}</h3>
        </div>
        <div class="location-tables-container">
        {% for day in location.days %}
            <table class="forecast-table">
                <caption>{{ day.day }}</caption>
                <caption>High: {{ day.high }}</caption>
                <caption>Low: {{ day.low }}</caption>
                <thead>
                    <tr>
                        <th>Hour</th>
                        <th>Temp.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for temp in day.temps %}
                    <tr>
                        <td>{{ temp.hour }}</td>
                        <td>{{ temp.temp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}